{% extends 'base.html' %}

{% block title %}Calendar{% endblock %}

{% block content %}

<!-- {% load static %} -->
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'calendar_view' prev_month_year prev_month_month %}" class="btn btn-primary">&laquo; Previous</a>
        <h1>{{ month_name }} {{ year }}</h1>
        <a href="{% url 'calendar_view' next_month_year next_month_month %}" class="btn btn-primary">Next &raquo;</a>
    </div>
    <a href="{% url 'create_event' %}" class="btn btn-success mb-3">Add an Event</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            {% for week in month_days %}
                <tr>
                    {% for day in week %}
                        <td>
                            {% if day != 0 %}
                                <a href='{% url "date_details" year month day %}'>{{ day }}</a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}