<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lingo Connect</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h2>Account Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="form-label">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password:</label>
                {{ form.password }}
            </div>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    {% endblock %}
</body>
</html>