<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lingo Connect</title>
</head>
<body>
    {% extends 'base.html' %}

    {% load static %}

    {% block content %}
        <h1>Events Calendar</h1>
        <ul>
            {% for event in events %}
                <li>
                    {{ event.title }} ({{ event.date }} - {{ event.time }})
                    <a href="{% url 'update_event' event.id %}" class="btn btn-primay">Edit</a>
                    <a href="{% url 'delete_event' event.id %}" class="btn btn-primary">Delete</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'create_event' %}">Add Event</a>
    {% endblock %}
<!-- <script src="{% static 'js/calendar.js' %}"></script> -->
</body>
</html>
